@keyframes progress {
  from { width: 0; }
}

.educationSection {
  display: grid;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-right: 2rem;
  h3 {
    font-size: 5rem;
    font-family: 'Gilroy';
    margin-bottom: 1rem;
  }
  & > div {
    background: $darker;
    padding: 2rem;
    border-radius: 8px;
  }
}

.skillsContainer {
  .skills {
   
  }
}