.navbar {
  width: $navbarWidth;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  background: white;
  box-shadow: 1px 0 10px rgba($color: #000000, $alpha: .09);
  overflow: hidden;

  @media (max-width: 786px) {
    max-width: 0;
  }
      

  .profile {
    flex: 1;
    h1 {
      color: findColorInvert($secondary);
      text-transform: uppercase;
      letter-spacing: .25rem;
      font-size: 2.5rem;
      padding-top: 1rem;
      text-align: center; 
    }
  }

  ul {
    // flex: 3;
    width: 100%;
    list-style-type: none;
    li {
      padding-right: 1rem;
      %activeBtn {
        transition: color .5s .25s;
        color: $primary;        
        &:after {
          background: $primary;
          left: 5%;
          right: 5%;
        }
      }
      a {
        text-decoration: none;
        color: $dark;
        font-weight: 700;
        display: inline-block;
        padding: 1rem;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-position: 0;
        position: relative;
        &:after {
          content: '';
          transition: all .5s;
          position: absolute;
          left: 50%;
          right: 50%;
          bottom: 10%;
          height: 3px;
        }
        &:not(.active):hover:after {
          background: $lightgrey;
          left: 5%;
          right: 5%;
        }
      }
      .active {
        @extend %activeBtn;
      }
      .icon {
        display: inline-block;
        width: 1rem;
        margin-right: .5rem;
      }
    }
  }
}
