.navbar {
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  background: white;
  overflow: hidden;
  width: $navbarWidth;
  max-width: $navbarWidth;
  z-index: 1000;
  
  @include shadowX;
  
  @media (max-width: 786px) 
  {
    transition: all .75s ease-in-out;
    font-size: 140%;
    ul {
      li {
        transform: translateY(0);
        opacity: 1;
        transition: transform 1s ease-in-out;
      }
    }
  }

  ul {
    width: 100%;
    list-style-type: none;
    li {
      padding-right: 1rem;
      %activeBtn {
        transition: color .5s .25s;
        color: $primary;        
        &:after {
          background: $primary;
          left: 5%;
          right: 5%;
        }
      }
      a {
        text-decoration: none;
        color: $dark;
        font-weight: 700;
        display: inline-block;
        padding: 1rem;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-position: 0;
        position: relative;
        &:after {
          content: '';
          transition: all .5s;
          position: absolute;
          left: 50%;
          right: 50%;
          bottom: 10%;
          height: 3px;
        }
        &:not(.active):hover:after {
          background: lightblue;
          left: 5%;
          right: 5%;
        }
      }
      .active {
        @extend %activeBtn;
      }
      .icon {
        display: inline-block;
        width: 1rem;
        margin-right: .5rem;
      }
    }
  }

  @media (max-width: 786px) {
    width: 100vw;
    max-width: 100vw;

    ul {
      margin: 0 4rem;
      width: auto;
    }
  }
}


.handburgerMenuButton {
  display: none;
  z-index: 1001;
  animation: scaleUp .5s .75s both;
  transition: top .25s;

  @media (max-width: 786px) {
    display: block;
    position: fixed;
    top: 2rem;
    left: 2rem; 
  }

  label {
    padding: 1rem;
  }

}

@media (max-width: 786px) {
  .handburgerCheckbox {
    &:not(:checked) ~ .navbar {
      max-width: 0;
      ul {
        li {
          transform: translateY(1rem);
          opacity: 0;
        }
      }
    }
  }
}

.handbugerbutton {
  width: 30px;
  height: 20px;
  position: relative;
  margin: auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  div {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: all .75s ease-in-out;
    &:first-child {
      top: 0px;
    }
    &:nth-child(2) {
      top: 10px;
    }
    &:last-child {
      top: 20px;
    }
  }
}

.scrolling {
  background: $primary;
  width: 100%;

  @media (max-width: 786px) {
    top: 0rem;
    left: 0rem; 
  }
  .handbugerbutton  {
    margin-left: 2rem;
  }
  .open div {
    background: white;
  }
}

.open {
  div {
    background: $primary;
    &:first-child { top: 10px;
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:last-child { top: 10px;
      transform: rotate(-135deg);
    }
  }
}