.navbar {
  width: $navbarWidth;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient($primary, $secondary);
  box-shadow: 1px 0 12px 8px rgba($color: black, $alpha: .09);
      

  .profile {
    flex: 1;
    h1 {
      color: findColorInvert($secondary);
      text-transform: uppercase;
      letter-spacing: .25rem;
      font-size: 2.5rem;
      padding-top: 1rem;
      text-align: center; 
    }
  }

  ul {
    flex: 3;
    width: 100%;
    list-style-type: none;
    li {
      padding-right: 1rem;
      %activeBtn {
        transition: all .5s .25s;
        background: $secondary;
        color: findColorInvert($secondary);
        position: relative;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
      }
      a {
        text-decoration: none;
        color: findColorInvert($primary);
        font-weight: 700;
        display: inline-block;
        padding: 1rem;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-position: 0;
      }
      .active {
        @extend %activeBtn;
      }
      .icon {
        display: inline-block;
        width: 2rem;
      }
    }
  }
}
