.profileContainer {
  display: flex;
  color: $dark;
  height: 100vh;
  align-items: center;
  padding: 2rem;
  padding-left: 3rem;
  color:white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  margin-bottom: -2rem;
  z-index: 10;

  background: linear-gradient(to bottom right, rgba(black, .7), rgba(black, .7)), url('/images/background.jpg');
  background-size: cover;

  .profile {
    z-index: 2;

    h2 {
      font-size: 4rem;
      font-weight: 800;
      & > span {
        display: block;
      }  
      span:nth-child(1) {
        font-size: 1rem;
        font-weight: 100;
        text-transform: uppercase;
      }
      span:nth-child(2) {
        font-family: 'Gilroy';
      }
      span:nth-child(3) {
        font-size: 1.5rem;
        font-weight: 600;
      }
     }

  }
}

.aboutContainer {
  padding: 4rem 2rem 5rem 3rem;
  background: $darker;
  color: $secondary;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}