* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background: $bg;
}


h3 {
  font-size: 2rem;
  color: rgba($dark, .8);
}

h4 {
  font-size: 1.3rem;
  color: rgba($dark, .8);
}

section {
  display: grid;
  height: 100vh;
  max-width: 1100px;
  & > div {
    padding: 2rem;
  }
}


.content {
  padding-left: calc(#{$navbarWidth} + 2rem);
}

.navBarCon {
  width: $navbarWidth;
  position: relative;
}

