* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  @media (max-width: 786px) {
    font-size: 13px;
  }
}

body {
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  @media  (min-width: 787px) {
    background: 
    bottom -15% right 0 / contain url('/images/back.svg') no-repeat,
    top -20% left -25% / contain url('/images/back2.svg') no-repeat,
    ;
  }  

  @media (max-width: 786px) {
    background: 
    bottom / contain url('/images/back.svg') no-repeat ,
    left -5% url('/images/back2.svg') no-repeat,
    ;
  }

  background-size: contain;
  color: $dark;
}

::selection {
  background: rgba($primary, .8);
  color: white;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3rem;
}

section {
  display: grid;
  min-height: 100vh;
  max-width: 1100px;
  & > div {
    padding: 2rem;
  }
 
}


.content {
  margin-left: #{$navbarWidth};
  padding-left: 2rem;
  position: relative;
  @media (max-width: 786px) {
    padding-left: 0;
    margin-left: 0;
  }
}

.navBarCon {
  width: $navbarWidth;
  position: relative;
}

