@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background: $bg;
}

.content {
  padding-left: calc(#{$navbarWidth} + 2rem);
  & > * {
    scroll-snap-type: proximity;
  }
}

.navBarCon {
  width: $navbarWidth;
  position: relative;
}

h3 {
  font-size: 2rem;
  color: rgba($dark, .8);
}

h4 {
  font-size: 1.3rem;
  color: rgba($dark, .8);
}

section {
  display: grid;
  height: 100vh;
  max-width: 1100px;
  & > div {
    padding: 2rem;
  }
}

.educationSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.educationContainer {
  margin: .5rem 0;
}

.skillsContainer {
  margin: .5rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem; 

  .progress {
    width: 100%;
    height: 1.5rem;
    position: relative;
    background: rgba(black, .1);
    border-radius: 10px;

    span {
      font-size: .8rem;
      line-height: 1.4rem;
    }
    
    .innerProgress {
      background: $secondary;
      height: 1.5rem;
      color: white;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: 0;
      left: 0;
    }

  }
}