@import "variables";
@import "functions";
@import "mixins";
@import "animations";


@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  src: url('/fonts/Gilroy-ExtraBold/font.woff2') format('woff2'), url('/fonts/Gilroy-ExtraBold/font.woff') format('woff');
}